{% extends 'base.html' %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'suppliers_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'suppliers_list_providers' %}">Providers</a>
                <a class="dropdown-item" href="{% url 'suppliers_list_products' %}">Products</a>
            </div>
        </li>
    </ul>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">
            <h1>Welcome to the system</h1>

            <a href="/admin">Click here to enter</a>
        </div>
    </div>

{% endblock %}