<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List providers</title>
</head>
<body>
   <h2>List Providers</h2>

    <ul>
        {% for provider in providers %}
            <li>
                <a href="{% url 'suppliers_provider_update' provider.id %}">{{ provider.name }} </a>
            </li>
        {% endfor %}
    </ul>


    <form action="{% url 'suppliers_provider_new' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Register</button>
    </form>

</body>
</html>

