<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Product</title>
</head>
<body>
    <h2>Updating Product: {{ product }}</h2>

    <form action="{% url 'suppliers_product_update' product.id %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Save</button>

    </form>

    <a href="{% url 'suppliers_product_delete' product.id %}">Delete</a>
</body>
</html>
